:root {
  --orange-900: #ff6600;
  --orange-800: #ef6c00;
  --orange-700: #db6300;
  --orange-600: #c0661c;

  --green: #32bf00;
  --red: #cc3300;

  --black-900: #222222;
  --black-800: #262a34;

  --gray-900: #434854;
  --gray-800: #9e9e9e;
  --gray-700: #cfcfcf;
  --gray-600: #dddddd;
  --gray-500: #eeeeee;
  --gray-400: #f5f5f5;
  --white: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;

  margin: 0;

  background-image: linear-gradient(var(--gray-500), var(--white));
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;

  text-align: center;

  margin-top: 62px;
  margin-bottom: 17px;

  transition: 0.3s;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.25em;

    margin-top: 44px;
    margin-bottom: 21px;
  }

  #text-response {
    margin-top: 55px;
  }
}

.orange-gradient-textColor {
  background-image: linear-gradient(var(--orange-800), var(--orange-700));

  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.orange-textColor {
  color: var(--orange-900);
}

.green-textColor {
  color: var(--green);
}

.red-textColor {
  color: var(--red);
}

#gray-bar {
  height: 1px;
  width: 56%;
  max-width: 255px;

  margin: 0 auto;

  background-color: var(--gray-700);
}

#text-response {
  height: 20px;

  font-family: Montserrat;
  font-weight: bold;
  font-size: 1em;

  text-align: center;

  margin-top: 100px;
  margin-bottom: 25px;

  transition: 1s;
}

#display-list {
  text-align: center;
}

#btn-new-game {
  height: 42px;
  width: 130px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 0.75em;
  color: var(--white);
  text-transform: uppercase;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: linear-gradient(var(--gray-900), var(--gray-800));

  margin: 0 auto;
  margin-top: 56px;
  border: 0;
  border-radius: 4px;
}

button.display-vanish {
  visibility: hidden;
}

#guess-form {
  height: 42px;
  width: 298px;
  
  display: flex;
  justify-content: space-between;

  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;

  margin: 0 auto;
}

#guess-form > * {
  height: 100%;

  font-family: Roboto;
  font-size: 0.75em;

  border: 0;
  padding: 0;
}

#guess-input {
  height: 40px;
  width: 207px;

  font-weight: normal;
  color: var(--gray-800);

  border-radius: 4px;
  border: 1px solid var(--gray-700);

  padding-left: 8px;
}

#guess-input:focus {
  outline-color: var(--orange-900);
}

.input-background-gray {
  background-color: var(--gray-400);
}

#guess-form button {
  width: 70px;

  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  background-image: linear-gradient(var(--orange-800), var(--orange-600));

  border-radius: 4px;
}

#guess-form .btn-disabled {
  background-image: var(--gray-600);
  background-color: var(--gray-600);
}
