.top,
.bottom,
.right,
.left,
.middle {
  border-radius: 5px;

  position: absolute;
}

.top {
  width: 28px;

  border-top: 11px solid var(--gray-600);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;

  left: 3px;
}

/* .top-led-on{
    border-top-color: var(--black-800);
}

.top-led-off{
    border-top-color: var(--gray-600);
}

.top-led-SUCESS{
    border-top-color: var(--green);
}

.top-led-ERROR{
    border-top-color: var(--red);
} */

.bottom {
  width: 28px;

  border-bottom: 11px solid var(--gray-600);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;

  top: 82px;
  left: 3px;
}

/* .bottom-led-on{
    border-bottom-color: var(--black-800);
}

.bottom-led-off{
    border-bottom-color: var(--gray-600);
}

.bottom-led-SUCESS{
    border-bottom-color: var(--green);
}

.bottom-led-ERROR{
    border-bottom-color: var(--red);
} */

.right {
  height: 25px;

  border-right: 11px solid var(--gray-600);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;

  left: 45px;
}

/* .right-led-on{
    border-right-color: var(--black-800);
}

.right-led-off{
    border-right-color: var(--gray-600);
}

.right-led-SUCESS{
    border-right-color: var(--green);
}

.right-led-ERROR{
    border-right-color: var(--red);
} */

.right_bottom,
.left_bottom {
  top: 45px;
}

.left {
  height: 25px;

  border-left: 11px solid var(--gray-600);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;

  left: 0px;
}

/* left leds .... */

.middle {
  height: 16px;
  width: 22px;

  background-color: var(--gray-600);

  border-radius: 0;

  top: 37.5px;
  left: 17px;
}

.middle::after {
  content: "";

  border-top: 8px solid transparent;
  border-right: 12px solid var(--gray-600);
  border-bottom: 8px solid transparent;

  position: absolute;
  right: 22px;
}

.middle::before {
  content: "";

  border-top: 8px solid transparent;
  border-left: 12px solid var(--gray-600);
  border-bottom: 8px solid transparent;

  position: absolute;
  left: 22px;
}

.display {
  height: 93px;
  width: 56px;
  position: relative;
}
