@media (min-width: 1024px) {
  .top {
    border-top: 15px solid var(--gray-600);
    left: 3px;
  }

  .bottom {
    border-bottom: 15px solid var(--gray-600);

    top: 113px;
    left: 3px;
  }

  .top,
  .bottom {
    width: 39px;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }

  .right {
    border-right: 15px solid var(--gray-600);

    left: 60px;
  }

  .left {
    border-left: 15px solid var(--gray-600);

    left: 0px;
  }

  .right,
  .left {
    height: 33px;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    top: 1px;
  }

  .right_bottom,
  .left_bottom {
    top: 64px;
  }

  .middle {
    height: 22px;
    width: 42px;

    top: 52.7px;
    left: 16.5px;
  }

  .middle::after {
    border-top: 11px solid transparent;
    border-right: 12px solid var(--gray-600);
    border-bottom: 11px solid transparent;

    right: 42px;
  }

  .middle-black::after {
    border-right: 12px solid var(--black-800);
  }

  .middle-green::after {
    border-right: 12px solid var(--green);
  }

  .middle-red::after {
    border-right: 12px solid var(--red);
  }

  .middle::before {
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 12px solid var(--gray-600);

    left: 42px;
  }

  .middle-black::before {
    border-left: 12px solid var(--black-800);
  }

  .middle-green::before {
    border-left: 12px solid var(--green);
  }

  .middle-red::before {
    border-left: 12px solid var(--red);
  }

  .display {
    height: 128px;
    width: 75px;

    margin: 0 auto;
    margin-right: 9px;
  }
}
